@mixin decore($content: null, $h, $w, $r: null, $l: null, $t: null, $b: null, $brdr: null) {
    position: absolute;
    display: block;
    will-change: transform;
    
    @if $content {
        content: '';
    }

    @if $h {
        height: $h;
    }

    @if $w {
        width: $w;
    }

    @if $r {
        right: $r;
    }

    @if $l {
        left: $l;
    }

    @if $t {
        top: $t;
    }

    @if $b {
        bottom: $b;
    }

    @if $brdr {
        border-radius: $brdr;
    }
}